@model VitaCoreTestTask.Data.ViewModels.ServiceVM

@{
    ViewData["Title"] = "Услуги";    
}

<h1>Услуги</h1>

<form asp-controller="Service" asp-action="Index" method="post">
    <p>
        Название: <input type="text" asp-for="Name" />
    </p>
    <p>
        Цена: <input asp-for="Price" />
        <input type="submit" value="Создать" />
    </p>
</form>

<table class="table">
   <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.services.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.services.First().Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.services)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a class="m-1" asp-action="Delete" asp-route-id="@item.Id_Service">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </a> 
                </td>
            </tr>
        }
    </tbody>
</table>
