@model VitaCoreTestTask.Data.ViewModels.PetOwnerReviewVM

@{
    ViewData["Title"] = "Клиент";    
}

<h1>Клиент</h1>
    <hr />
    
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetOwner.Fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetOwner.Fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetOwner.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetOwner.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetOwner.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetOwner.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetOwner.Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetOwner.Other)
        </dd>
    </dl>
</div>

<p>
    <a class="btn btn-dark" asp-controller="Pet" asp-route-id="@Model.PetOwner.Id_PetOwner" asp-action="Create">Добавить питомца</a>
</p>
<hr />
@if (Model.Pets.Any())
{
    <table class="table">
   <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pets.First().Id_Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets.First().Species.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets.First().Breed.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets.First().Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets.First().DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pets.First().Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Pet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Species.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Breed.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    <a class="m-1" asp-controller="Pet" asp-action="Details" asp-route-id="@item.Id_PetOwner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-postcard" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4Zm7.5.5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7ZM2 5.5a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5Zm0 2a.5.5 0 0 1 .5-.5H6a.5.5 0 0 1 0 1H2.5a.5.5 0 0 1-.5-.5ZM10.5 5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3ZM13 8h-2V6h2v2Z"/>
                        </svg>
                    </a>                    
                    <a class="m-1" asp-controller="Pet" asp-action="Edit" asp-route-id="@item.Id_PetOwner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </a>
                    <a class="m-1" asp-controller="Pet" asp-action="Delete" asp-route-id="@item.Id_PetOwner">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </a> 
                </td>
            </tr>
        }
    </tbody>
    </table>
}
else
{
    <h3>У клиента нет питомцев</h3>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.PetOwner.Id_PetOwner">Изменить</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
