@model VitaCoreTestTask.Models.Pet

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Pet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Pet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetOwner.Fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetOwner.Fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Other)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Pet" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-controller="PetOwner" asp-action="Details" asp-route-id="@Model.Id_PetOwner">Вернуться к списку</a>
    </form>
</div>
