@model VitaCoreTestTask.Data.ViewModels.PetReviewVM

@{
    ViewData["Title"] = "Питомец";    
}

<h1>Питомец</h1>
    <hr />
    
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet.PetOwner.Fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet.PetOwner.Fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet.Species.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet.Species.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet.Breed.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet.Breed.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pet.Other)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pet.Other)
        </dd>
    </dl>
</div>

<p>
    <a class="btn btn-dark" asp-controller="Vaccination" asp-route-id="@Model.pet.Id_Pet" asp-action="Create">Добавить прививку</a>
</p>
<hr />
@if (Model.petVaccinations.Any())
{
    <table class="table">
   <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.petVaccinations.First().Vaccination.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.petVaccinations.First().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.petVaccinations.First().Period)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.petVaccinations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Vaccination.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Period)
                </td>                
                <td>
                    <a class="m-1" asp-controller="Vaccination" asp-action="DeletePetVac" asp-route-id="@item.Id_PetVac">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </a> 
                </td>
            </tr>
        }
    </tbody>
    </table>
}
else
{
    <h3>У питомца нет прививок</h3>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.pet.Id_Pet">Изменить</a> |
    <a asp-controller="PetOwner" asp-action="Details" asp-route-id="@Model.pet.Id_PetOwner">Вернуться к списку</a>
</div>
